.l-grid {
    display: flex;
}

.l-column-start-2 {
    margin-left: auto;
    width: 50%;
}

.l-grid--2-col {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

.l-grid--full-height {
    grid-template-rows: minmax(100vh, 1fr);
}

.l-column-start-2 {
    grid-column-start: 2;
}

.l-align-center {
    align-items: center;
}

.l-full-height {
    min-height: 100vh;
}

.content {
    max-width: 400px;
}

.heading {
    position: relative;
    font-weight: 700;
    font-size: 2rem;
    margin-bottom: 1rem;
    line-height: 1.3;
    font-family: 'Libre Baskerville', serif;
}

.heading::before {
    content: '';
    position: absolute;
    width: 20%;
    height: 5px;
    top: -16px;
    border-top: 5px solid #fe5c5d;
}

.description {
    font-size: 1rem;
    line-height: 1.55;
    color: #7a7b80;
    font-family: 'Raleway', sans-serif;
}
